!/[Aa]ssets/**/*.meta

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]elease/
/[Uu]serSettings/

/Assets/[Tt]emp/
/Assets/[Tt]emp.meta
/Assets/Samples
/Assets/Samples.meta
/Assets/TextMesh*Pro/
/Assets/Plugins/Editor/JetBrains*
/Assets/BuildReports/*
/Assets/BuildReports.meta

ExportedObj/

.vs/
.vscode/
.gradle/
.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta
*.csproj.meta

*.apk
*.aab
*.obb
*.unitypackage

*.log
*.log.meta

*.DS_Store
*.DS_Store.meta

sysinfo.txt
crashlytics-build.properties
